.table-wrapper {
  overflow-x: auto;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}

th {
  background-color: #e2bfbf;
  text-align: left;
  padding: 8px;
  background-color: rgb(44, 59, 44);
  color: white;
  border-radius: 10px;
  
}

tr:nth-child(even) {
  background-color: #ebcccc;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-right: 1px solid #ddd;
}

@media screen and (max-width: 680px) {
  .table-wrapper {
    width: 90%;
  }
}

